* {
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.donation-main {
    border-top: 10px solid #face1c;
    padding-bottom: 64px;
}

.donation-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.donation-main .left h2 {
    font-size: 35px;
    line-height: 53px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 10px;
}

.donation-main .left h2 span {
    color: #face1c;
}

.donation-main .left p {
    font-size: 16px;
    margin: 0;
    color: #737271;
    line-height: 24px;
    text-align: justify;
}

.donation-main .left .button {
    margin-top: 45px;
}

.donation-main .left .button a {
    background-color: #383634;
    padding: 10px 24px;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    transition: all ease-in-out 0.5s;
}

.donation-main .left .button a:hover {
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #face1c;
}
.donation-main .right > div {
    text-align: center;
    float: left;
    padding: 20px;
    padding-bottom: 30px;
    margin-right: 20px;
    -webkit-box-shadow: 0px 2px 10px rgb(0 0 0 / 50%);
    -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 10px rgb(0 0 0 / 50%);
    -webkit-transition: all ease-in-out 0.5s;
}
/* right */
.donation-main .right > div:hover button{
    background-color: #383634;
    color: #f0f9ff;
    font-weight: 600;
    -webkit-transition: all ease-in-out 0.5s;
}
.donation-main .right > div > div:first-child i {
    color: #383634;
    font-weight: 600;
    background-color: #face1c;
    line-height: 80px;
    font-size: 40px;
    border-radius: 100%;
    width: 80px;
    height: 80px
}
.donation-main .right > div > div:first-child i:hover{
    color: white;
}
.fa{
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.donation-main .right .content{
    margin-top: 20px;
}
.donation-main .right .content h4{
    margin: 0px;
    padding: 0px;
    color: #383634;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    line-height: 32px;
}
.donation-main .right .content ul{
    margin: 15px 0px;
    margin-bottom: 28px;
    padding: 0px;
}
.donation-main .right .content ul li{
    list-style: none;
    margin: 0px;
    padding: 3px 0px;
}
.donation-main .right .content ul li:first-child{
    padding-top: 0;
}
.donation-main .right .content ul li:last-child{
    padding-bottom: 20px;
}
.donation-main .right .content button{
    color: #383634;
    font-weight: 600;
    background-color: #face1c;
    -webkit-transition: all ease-in-out 0.5s;
    padding: 12px 24px;
    font-size: 16px;
    line-height: 24px;
    border: 0;
}
.donation-main .right .content button:hover{
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
}